@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.content {
  max-width: 1280px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 auto;
}
.header {
  min-height: 323px;
  background-color:#445162;
  display: flex ;
  flex-wrap: wrap;
  justify-content: space-between ;
  
}
.header__title {
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
  padding: 50px;
  color: #ffffff;
}
.header__h1 {
  font-size: 60px;
  line-height: 1.2;
}
.header__list {
  font-size: 20px;
  line-height: 36px;
  list-style: none;
}
.header__list li:before {
  content: ' ';
  width: 25px;
  height: 19px;
  background: url('../img/check_icon.png') left no-repeat;
  display: inline-block;
  margin: 0 10px 0 0
}
.header__logo {
  padding: 50px;
  max-height: 323px;
  max-width: 640px;
  display: flex;
  justify-content: center ;
}
.header__img {
  max-height: 100%;
  max-width: 100%;
}
.selection1 {
}
.selection1__img {
}
.selection1__text {
}
.selection1__title {
}
.selection1__subtitle {
}
.selection2 {
}
.selection2__title {
}
.selection2__row {
}
.selection2__item {
}
.selection2__item-img {
}
.selection2__item-text {
}
.selection3 {
}
.selection3__title {
}
.selection3__row {
}
.selection3__column {
}
.selection3__column-titie {
}
.selection3__column-subtitie {
}
.selection3__column-text {
}
.selection3__column-botton {
}
.footer {
}
.footer__text {
}